@import "./components/vars";

.text-cookie {
  display: grid;
  grid-row-gap: 1em;
  font-size: 1rem;
  color: grey;
}

#barraaceptacion {
  display: none;
  position: fixed;
  grid-row-gap: 12px;
  left: 0px;
  bottom: 0px;
  width: 100%;
  color: #fff;
  z-index: 99999999;
  background-color: rgba(0, 0, 0, 0.89);
  min-height: 47vh;
  align-content: center;
  grid-template-columns: 1fr 2fr 2fr;
  grid-column-gap: 2em;
}
.botones {
  display: grid;
  justify-content: start;
  align-items: center;
}
.cookie_icon {
  display: grid;
  justify-content: end;
  align-items: center;
  color: white;

  svg {
    width: 95px;
  }
}
.inner {
  color: white;
}
.inner a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
}
.inner a:hover {
  color: #323232;
}
.inner span {
  font-weight: bold;
  cursor: pointer;
}
.boton_cookie {
  position: relative;
  padding: 5px 15px;
  border-radius: 4px;
  background-color: #fbfbff;
  color: black;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #323232;
  color: white;

  &:hover {
    background-color: #323232;
  }
}
.boton_cookie:hover {
  background: #323232;
  color: white;
}

// MODAL
.custom-cookie {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  display: none;
  justify-items: center;
  align-content: center;
  background-color: #000000cc;
  padding: 2em 0;
  z-index: 100;

  .padding {
    padding-left: 3em;
    padding-right: 3em;
  }
}
.content-custom-cookie {
  width: 80%;
  height: 100%;
  background-color: #fff;
  display: grid;
  grid-row-gap: 17px;
  overflow: hidden;
  overflow-y: scroll;
  align-content: start;
}
.header-custom-cookie {
  background-color: #323232;
  color: white;
  font-weight: bold;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.1rem;
  align-items: center;
}
.close-modal-custom-cookie {
  cursor: pointer;
}
.btns-cookie {
  display: grid;
  justify-content: space-between;
  grid-auto-flow: column;

  .btn-btns-cookie {
    padding: 7px 12px;
    display: grid;
    align-items: center;
    font-size: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .save {
    border: 1px solid grey;
    color: grey;

    &:hover {
      background-color: #323232;
      color: white;
    }
  }
  .acept-all {
    background-color: #323232;
    color: white;

    &.hover {
      background-color: #323232;
    }
  }
}
.lists-cookie {
  display: grid;
  grid-row-gap: 10px;
  padding-bottom: 2em;
}
.list-cookie {
  display: grid;
  grid-row-gap: 10px;

  .title-list {
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
    align-items: center;
  }
  .inputs {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-content: end;
    grid-column-gap: 11px;
  }
}

@media only screen and (max-width: 900px) {
  #barraaceptacion {
    grid-template-columns: 1fr;
    padding: 2em;
    grid-row-gap: 10px;
  }
  .cookie_icon {
    justify-content: center;

    svg {
      width: 60px;
    }
  }
  .botones {
    justify-content: center;
  }
}
@media only screen and (max-width: 500px) {
  .list-cookie {
    .title-list {
      grid-auto-flow: row;
      grid-row-gap: 11px;

      .inputs {
        justify-content: start;
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .btns-cookie {
    grid-auto-flow: row;
    grid-row-gap: 12px;
    justify-items: center;
    justify-self: center;
  }
}
