@import "./components/form";
@import "./components/vars";


.modal1 {
    background: #111111bd;
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    pointer-events: none;
    transition: opacity .6s;

    ::-webkit-scrollbar {
        width: 12px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    }

    ::-webkit-scrollbar-thumb {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
    }
}

.modal--show {
    pointer-events: unset;
    display: flex;
}

.modal_container {
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    max-width: 600px;
    border-radius: 6px;
    display: grid;
    gap: 1em;
    // Scrool
    overflow: hidden;
    max-height: 84vh;
    border: 1px solid #677;
    background-color: #ffff;
    padding: 30px 40px;
    overflow-y: auto;
    margin: 0 1em;
    z-index: 9999999;
    position: relative;

    h2 {
        font-size: 2rem;
        color: white;
        text-align: center;
    }

    p {
        color: white;
    }
}

.modal_close {
    position: absolute;
    right: 10px;
    // left: 100px;
    top: 10px;
    text-decoration: none;
    color: white;
    background-color: #323232;
    // padding: 10px;
    cursor: pointer;
    border-radius: 50%;
    display: grid;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    transition: background-color .3s;
    width: 40px;
    height: 40px;
}

.modal_close:hover {
    background: #686767;
}

.window_modal_close {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.tablet {
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;

    @media screen and (max-width: 520px) {
        gap: 2px;
        font-size: 16px;
    }
}

.p{
    color: black !important;
}

.encabezado {

}

th {
    padding: 10px;
    background-color: #707070;
    color: white;
    font-weight: 900;
    letter-spacing: 1px;

    @media screen and (max-width: 520px) {
        padding: 2px;
        font-weight: 300;
        font-size: 16px;
    }
}

td {
    padding: 10px;

    @media screen and (max-width: 520px) {
        padding: 2px;
        font-size: 16px;
    }
}

.title-table {
    color: #323232;
    font-weight: 600;
    
    @media screen and (max-width: 520px) {
        font-weight: 300;
    }
}

a{
    color: black;
}