// DESKTOP
$desktop_1400: 1400px;
$desktop_1200: 1200px;
$desktop_1100: 1100px;
$desktop_1000: 1000px;

// TABLET
$tablet_950: 950px;
$tablet_800: 800px;
$tablet_750: 750px;

// MOBILE
$mobile_650: 650px;
$mobile_600: 600px;
$mobile_400: 400px;


// PALETA DE COLORES

$hover_text_gris: #bdbdbd;

$color_ws: #217848;
$bg_ws: #1ac768;

$color_blue_principal: #3c59ac;
$bg_galeria: #5c72b3;
$bg_aliados: #9cbcfc;
$bg_blue_ligth: #d1dbfb;

$color_text: #151515;
$color_text_span: #323232;

$bg_footer: #323232;

$color_arrow_banner: #d1dbfb;
$color_arrow_banner_hover: #adadad48;

$color_white: white;