@import './vars';

.bg_faqs {
    background: linear-gradient(to right, rgba(4, 76, 176, 0.9), rgba(4, 87, 204, 0.9)), url('/public/img/fondo_faqs.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    min-height: 70vh;
}

.FAQs {
    display: grid;
    // grid-gap: 20px;
    margin: 50px 0;
}

.section_faqs {
    display: grid;
    // gap: 20px;
    margin-top: 50px;
}

.section_faqs_title {
    color: $color_blue_principal;
    // font-size: 32px;
    // padding: 20px 0 50px 0;
    text-align: center;
    font-weight: 600;
    letter-spacing: 10px;
    font-size: 25px;
    text-transform: uppercase;
    // border-bottom: 4px solid $yellow;

    @media screen and (max-width: 600px) {
        font-size: 20px;
    }

    @media screen and (max-width: 400px) {
        font-size: 16px;
    }

    h1 {
        display: block;
        font-size: 2em;
        margin-block-start: 0.67em;
        margin-block-end: 0.67em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    
    @media only screen and (max-width: 1399px) and (min-width: 1300px) {
        h1 {
            font-size: 28px;
        }
    }
}

.section_faqs_subtitle {
    text-align: center;
    color: $color_blue_principal;
    font-size: 20px;
    letter-spacing: 1px;
    padding: 50px 0;
}

// .section_faqs_subtitle {
//     display: grid;
//     justify-content: center;
//     align-items: center;

//     p{
//         color: gray;
//         text-align: center;
//     }
// }

.questions {
    text-align: center;
}

.questions_container {
    display: grid;
    // gap: 2em;
    // padding-top: 50px;
    // padding-bottom: 100px;
}

.questions_padding {
    padding: 0;
    transition: padding .3s;
    // border: 1px solid $color_blue_principal;
    // border-radius: 6px;
}

.questions_padding--add {
    padding-bottom: 30px;
}

.questions_answer {
    padding: 0 30px 0;
    overflow: hidden;
}

.questions_title {
    display: flex;
    align-self: flex-start;
    // font-size: 16px;
    padding: 15px 0 15px;
    cursor: pointer;
    color: $color_blue_principal;
    // justify-content: space-between;

    @media screen and (max-width: 600px) {
        h2{
            font-size: 17px;
        }
    }
}

.questions_arrow {
    // border-radius: 50%;
    // background-color: $color_blue_principal;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-left: 10px;
    transition: transform .3s;

    svg {
        fill: gray;
    }
}

.questions_arrow--rotate {
    transform: rotate(180deg);
}

.questions_show {
    text-align: left;
    height: 0;
    transition: height .3s;
    // color: gray;
    letter-spacing: 1px;
    line-height: 25px;
}

.questions_img {
    display: block;
    fill: white;
}





.bg_faqs_bar {
    background: linear-gradient(to right, rgba(4, 76, 176, 0.9), rgba(4, 87, 204, 0.9)), url('/public/img/image.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.section_bar_faqs{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 100px 0;
    gap: 20px;
}

.section_bar_faqs_content{
    display: grid;
    gap: 20px;
}

.section_bar_title_faqs{
    font-size: 35px;
}

// b{
//     color: yellow;
// }

.section_bar_btn_faqs{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    a{
        padding: 20px;
        color: white;
        border-radius: 50px;
        text-decoration: none;
        border: 2px solid white;
    }

    a:hover{
        background: yellow;
        border: 2px solid yellow;
        animation: movimiento_btn 2s linear infinite;
    }
}

.section_bar_faqs_image{
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;

    img{
        width: 100%;
        height: 100%;
        max-width: 500px;
        max-height: 500px;
    }
}